<a href="https://colab.research.google.com/github/jeevanleo/ML/blob/main/CROSS_VALIDATION_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import basic libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# To split into train and test sets
from sklearn.model_selection import train_test_split
# importing the LinearRegression algorithm
from sklearn.linear_model import LinearRegression
# requirements for KFold cross validation method
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

a) Cross Validation on Simple Linear Regression

In [5]:
# Loading the data and first five rows
company = pd.read_csv('/content/Company_data.csv')
company.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [6]:
# Splitting into features and label
X = company.iloc[:,0]
y = company.iloc[:,-1]
X.shape, y.shape

((200,), (200,))

In [7]:
# Reshaping them to 1 dimensional arrays
X = np.array(X).reshape(-1,1)
y = np.array(y).reshape(-1,1)
print(X.shape,y.shape)

(200, 1) (200, 1)

In [8]:
# Splitting into train and test sets
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=20,test_size = 0.25)

In [9]:
# Shapes of train and test sets
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(150, 1) (150, 1)
(50, 1) (50, 1)

In [10]:
# Making use of LinearRegression Algo.
reg = LinearRegression()

In [11]:
# KFold technique for simple linear regression
folds = KFold(n_splits = 5, shuffle = True, random_state = 100)
scores = cross_val_score(reg, X_train, y_train, scoring='neg_mean_squared_error',cv=folds)
np.sqrt(np.mean(np.absolute(scores)))

2.2005035979357928


b) Cross Validation on Multi-Linear Regression

In [12]:
# Reading the csv file and loading it.
data = pd.read_csv('/content/Company_data.csv')

In [13]:
# Selecting only the integer columns so that the string columns don't influence the model
# Selecting only integer datatypes using select_dtypes
X1 = data.iloc[:,:-1]
X1 = X1.select_dtypes(include = np.number)
y1 = data.iloc[:,-1]

In [14]:
# Looking for the shape of the data
X1.shape,y1.shape

((200, 3), (200,))

In [15]:
# Reshape the output into 1-D array
y1 = np.array(y1).reshape(-1,1)

In [16]:
# Splitting into train and test sets
X1_train,X1_test,y1_train,y1_test = train_test_split(X1,y1,random_state=20,test_size = 0.25)

In [17]:
# LinearRegression Algorithm
model = LinearRegression()

In [18]:
# KFold technique for simple linear regression
folds = KFold(n_splits = 5, shuffle = True, random_state = 100)
scores = cross_val_score(model, X1_train, y1_train, scoring='neg_mean_squared_error',cv=folds)
np.sqrt(np.mean(np.absolute(scores)))

1.4681024484253988