<a href="https://colab.research.google.com/github/jeevanleo/ML/blob/main/Naive%20Bayes/Naive_Bayes_on_Diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import the basic libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Load the data
data = pd.read_csv('/content/diabetes (1).csv')

In [3]:
# Check for number of rows and columns
data.shape

(768, 9)

In [4]:
# info. about the columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pregnancies  768 non-null    int64
 1   glucose      768 non-null    int64
 2   diastolic    768 non-null    int64
 3   triceps      768 non-null    int64
 4   insulin      768 non-null    int64
 5   bmi          768 non-null    float64
 6   dpf          768 non-null    float64
 7   age          768 non-null    int64
 8   diabetes     768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
# First five rows of the data
data.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
# Last five rows of the data
data.tail()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [7]:
# Check if there are null values
data.isna().sum()

pregnancies    0
glucose        0
diastolic      0
triceps        0
insulin        0
bmi            0
dpf            0
age            0
diabetes       0
dtype: int64

In [12]:
# Let's divide the features and target
X = data.drop('diabetes',axis=1)
y = data['diabetes']

In [13]:
# See if it's done properly
X.shape,y.shape

((768, 8), (768,))

In [14]:
# Scaling the features
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [15]:
# Split into train and test set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=10,test_size = 0.02)

In [16]:
# Shape of train and test
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(752, 8) (752,)
(16, 8) (16,)

In [17]:
# Loading the model
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [18]:
# Fitting the model with training data
gnb.fit(X_train,y_train)

GaussianNB()

In [19]:
# predicting on training data
y_pred_train = gnb.predict(X_train)

In [20]:
# Confusion matrix and Classification Report for predictions on train set
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
print('Confusion matrix:\n',confusion_matrix(y_train,y_pred_train))
print('Classification Report:\n',classification_report(y_train,y_pred_train))

Confusion matrix:
 [[410  78]
 [ 99 165]]
Classification Report:
               precision    recall  f1-score   support

           0       0.81      0.84      0.82       488
           1       0.68      0.62      0.65       264

    accuracy                           0.76       752
   macro avg       0.74      0.73      0.74       752
weighted avg       0.76      0.76      0.76       752

In [21]:
print("Accuracy Score for predictions on training data: ",accuracy_score(y_train,y_pred_train))

Accuracy Score for predictions on training data:  0.7646276595744681

In [22]:
# predicting on testing data
y_pred = gnb.predict(X_test)

In [23]:
# Confusion matrix and Classification Report for predictions on test set
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
print('Confusion matrix:\n',confusion_matrix(y_test,y_pred))
print('Classification Report:\n',classification_report(y_test,y_pred))

Confusion matrix:
 [[11  1]
 [ 3  1]]
Classification Report:
               precision    recall  f1-score   support

           0       0.79      0.92      0.85        12
           1       0.50      0.25      0.33         4

    accuracy                           0.75        16
   macro avg       0.64      0.58      0.59        16
weighted avg       0.71      0.75      0.72        16

In [24]:
print("Accuracy Score for predictions on training data: ",accuracy_score(y_test,y_pred))

Accuracy Score for predictions on training data:  0.75